// centered container
.container
  position: relative
  margin: 0 auto
  width: $page-width
  height: 100%

.pagination
  text-align: center
.pagi-item
  +block(18px, 18px)
  +opacity(0.5)
  display: inline-block
  margin: 0 14px
  background: #fff
  border-radius: 50%
  &.selected
    +opacity(1)

/*
 * Site Header
 */
$site-header-height: 50px
.site-header
  +box-sizing
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 10
  height: $site-header-height
  padding: 0 20px
  background: #42474b
  &.fixed
    position: fixed

@media (max-width: $page-width + 20px) and (min-width: 700px)
  .site-header > .container
    width: 100%
@media (max-width: 699px)
  .site-header > .container
    width: 640px

.logo-eleme
  float: left
  width: 105px
  height: 30px
  margin-top: 9px
  background: $main-sprites 0 0
  text-indent: -9999em

.site-nav
  float: right
  line-height: $site-header-height
.snav-link
  display: inline-block
  margin-right: 40px
  font-size: 14px
  line-height: 1.5em
  &:hover
    border-bottom: 1px solid #fff

.header-qrcode
  position: relative
  float: right
  line-height: $site-header-height
  &:hover
    .header-toggle
      border-bottom: 1px solid #fff
    .header-dropdown
      display: block
.icon-header-qr
  width: 21px
  height: 21px
  padding-bottom: 4px
  background: $main-sprites -110px 0
  text-indent: -9999em
  vertical-align: baseline
.header-toggle
  line-height: 1.5em
  cursor: default
.header-dropdown
  +box-sizing
  position: absolute
  top: $site-header-height
  left: -63px
  display: none
  width: 144px
  padding: 20px 15px 5px
  box-shadow: 0 1px 1px rgba(#000, 0.6)
  background: #fff
  line-height: 1.3em
  text-align: center
  &:before
    +transform(rotate(45deg) skew(-5deg, -5deg))
    content: ""
    position: absolute
    top: -5px
    left: 69px
    width: 10px
    height: 10px
    background: white
  > .qr
    margin-bottom: 5px
  .title
    font-size: 18px
    color: $blue
  .caption
    font-size: 13px
    color: #b8b8b8

/*
 * Content Common
 */

h1
  margin: 0
  text-shadow: 0 1px 2px rgba(#000, 0.2)
  font: 72px/1em $sans-serif

h2
  margin: 0 0 25px
  font: normal 30px/1em $sans-serif

h3
  margin: 0 0 20px
  font: normal 18px/1em $sans-serif

p
  margin: 0

/*
 * 01 index
 */
.about
  position: relative
  height: 720px
  background: $main-bg-red

.main-intro
  position: absolute
  top: 160px
.main-intro-block
  float: left
  width: 290px
  & + &
    margin-left: 135px
  > .intro-title
    margin: 38px 0 22px
    font: normal 24px/1em $sans-serif
    text-align: center
  > .intro-content
    line-height: 18px
.symbol-sign
  position: relative
  margin: 0 10px // (290 - 270) / 2
  width: 270px
  height: 270px
  border-radius: 50%
  > i
    position: absolute
    top: (270px - 85px) / 2
    left: (270px - 105px) / 2
    width: 105px
    height: 85px
    background: $main-sprites
  =styles($bg, $position)
    background: $bg
    > i
      background-position: $position
  &.atom
    +styles(#50bec4, 0 -30px)
  &.chart
    +styles(#9b5ab6, -110px -30px)
  &.cloud
    +styles(#f6ab31, -220px -30px)

/*
 * 02 03 About
 */

.about-title
  margin: 0 0 30px

.about-content
  font-size: 16px
  line-height: 24px

// 02 About Company

.about-company
  position: relative
  overflow: hidden
  min-width: $page-width
  height: 690px
  background-color: $main-bg-red
  > .bg-extend
    +box-sizing
    position: absolute
    top: 0
    width: 50%
    height: 100%
    &.bg-left
      left: 0
      background: $main-bg-red
      border-bottom: 11px solid #fff
    &.bg-right
      right: 0
      background: $main-bg-blue
      border-top: 15px solid #fff

.about-company-block
  position: absolute
  top: 80px
  z-index: 1
  width: 500px

.timeline-chart
  height: 100%
  width: 100%
  position: absolute
  bottom: 0
  left: 130px
  background: $chart-bg no-repeat 0 1px $main-bg-red

.time-point
  position: absolute
  width: 3px
  height: 60px
  background: white
  =position($line-bottom, $line-left, $time-bottom, $time-left)
    bottom: $line-bottom
    left: $line-left
    > .time
      bottom: $time-bottom
      left: $time-left
  &.point1
    +position(93px, 103px, -35px, 10px)
  &.point2
    +position(146px, 252px, -36px, 13px)
  &.point3
    +position(193px, 409px, -33px, 19px)
  &.point4
    +position(289px, 540px, -42px, 19px)
  &.point5
    +position(337px, 669px, -40px, 26px)
  &.future-point
    background: transparent
    height: 2px
    > .time
      font-size: 18px
  &.point6
    +position(425px, 806px, -44px, 31px)
  &.point7
    +position(524px, 958px, -51px, 41px)
  > .time
    position: absolute
    font-family: verdana, sans-serif
  > .detail-wrapper
    position: absolute
    bottom: 66px
    left: -49px
    width: 110px
    height: 85px
.time-point-detail
  position: absolute
  bottom: 0
  > .title
    margin: 0 0 2px
    font-weight: normal
    line-height: 1em
    > .statistic
      margin-right: 3px
      font-weight: bold
  > .desc
    margin: 0
    font: 12px/1.2em $sans-serif
  =detail-style($margin, $statistic, $title)
    @if $margin != 0
      margin-left: $margin
    > .title
      font-size: $title
      > .statistic
        font-size: $statistic
  &.detail1
    +detail-style(20px, 24px, 14px)
  &.detail2
    +detail-style(10px, 22px, 16px)
  &.detail3
    +detail-style(10px, 26px, 18px)
  &.detail4
    +detail-style(0, 30px, 18px)
  &.detail5
    +detail-style(0, 58px, 30px)


// 03 About Us

$scard-w: 520px
$scard-h: 142px
$scard-mh: 100px
$scard-mv: 52px
.about-us
  height: 800px
  background: $main-bg-blue

.about-us-block
  padding-top: 90px

.about-carousel
  margin-top: 85px
  width: 100%
  overflow: hidden
  > .pagination
    margin: 80px 0 0
.about-carousel-block
  float: left
  width: ($scard-w + $scard-mh) * 2
  height: $scard-h * 2 + $scard-mv

.staff-card
  +box-sizing
  float: left
  margin: 1px ($scard-mh - 2px * 3) ($scard-mv - 1px * 1 - 3px * 2) 2px
  width: $scard-w
  height: $scard-h
  padding: 20px 18px
  border-radius: 2px
  background: #fff
  box-shadow: 0 1px 3px rgba(#000, 0.3)
  color: #666
  line-height: 1.6em
.staff-photo
  float: left
  width: 76px
  height: 100px
.staff-bio
  margin-left: 76px + 15px // 76px => photo width
  > .name
    margin: 0 0 6px
    font-size: 16px
    color: #333
    word-spacing: 8px
  .mark
    padding-bottom: 1px
    background: none
    border-bottom: 1px solid red
    color: #666


/*
 * 04 05 Recruitment
 */
.recruitment
  height: 888px
  &.campus
    background: #58b425
  &.social
    background: #9c58b6

.recruit-header
  position: relative
  padding-top: 100px
.recruit-title
  float: left
  margin-right: 25px
.recruit-detail
  float: right
  margin-top: 33px // tab-item ptop 13px + tab mtop 20px
  padding-bottom: 2px
  font-size: 22px
  line-height: 1em
  &:hover
    border-bottom: 1px solid #fff

.recruit-tab-nav
  float: left
  margin-top: 20px
  > .tab-item
    display: inline-block
    padding: 13px 20px
    font-size: 22px
    line-height: 1em
    &:hover
      background: rgba(#000, 0.1)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)"
    &.selected
      background: rgba(#000, 0.18)
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2D000000,endColorstr=#2D000000)"
.recruit-tabs
  margin-top: 50px


$rcard-w: 550px
$rcard-h: 235px
$rcard-mh: 40px
$rcard-mv: 27px

.recruit-carousel
  width: 100%
  overflow: hidden
  padding-bottom: 50px
  > .pagination
    margin-top: 60px
.recruit-carousel-block
  float: left
  float: left
  width: ($rcard-w + $rcard-mh ) * 2
  height: $rcard-h * 2 + $rcard-mv
.job-card
  +box-sizing
  position: relative
  float: left
  margin: 0 ($rcard-mh - 2px * 3) ($rcard-mv - 2px * 2) 2px
  width: 550px
  height: 235px
  padding: 40px 30px
  border-radius: 2px
  box-shadow: 1px 1px 2px rgba(#000, 0.25)
  font: 36px/1em $sans-serif
  > .icon-jobs
    position: absolute
    bottom: 10px
    right: 20px
    width: 110px
    height: 85px
    background: $main-sprites
  =styles($bg, $bg-hover, $position)
    background: $bg
    &:hover
      background: $bg-hover
    > .icon-jobs
      background-position: $position
  // dev
  &.front-end
    +styles(#ed8900, #f8a400, 0 -120px)
  &.back-end
    +styles(#f14440, #ff6260, -110px -120px)
  &.system-engineer
    +styles(#26b1b6, #2ecdd2, -220px -120px)
  &.ios-developer
    +styles(#3366cc, #3c7af0, -330px -120px)
  &.android-developer
    +styles(#99d20c, #beec0f, -440px -120px)
  &.product-design
    +styles(#3c9400, #48b000, -550px -120px)
  // other
  &.intern
    +styles(#e5c800, #f4e100, 0 -210px)
  &.bd-manager
    +styles(#3fa7dc, #4dc5f0, -110px -210px)
  &.market-service
    +styles(#0f94d7, #13b7ee, -220px -210px)
  &.customer-service
    +styles(#da5834, #ee6a3f, -330px -210px)
  &.ui-design
    +styles(#43c879, #51e192, -440px -210px)

.recruit-flow
  +group
  width: 525px // (70 + 35) * 5
  overflow: hidden
  &.campus > .flow-step
    line-height: 70px
  &.social > .flow-step
    padding: 16px
    line-height: 18px
    &.middle
      padding: 25px 16px
.flow-step
  $line: #d9d9d9
  +box-sizing
  position: relative
  float: left
  margin-left: 35px
  width: 70px
  height: 70px
  border: 1px solid $line
  border-radius: 50%
  background: #e8e8e8
  text-align: center
  font-size: 15px
  &:after
    content: ""
    position: absolute
    top: 35px
    left: 68px
    width: 30px
    height: 1px
    background: $line
  &:before
    content: ""
    position: absolute
    top: 32px
    left: 98px
    width: 0
    height: 0
    border-left: 5px solid $line
    border-top: 4px solid transparent
    border-bottom: 4px solid transparent
.modal-qr
  padding: 20px 0 0
  text-align: center
.modal-caption
  margin-top: 5px
  > .title
    font-size: 16px
  > .caption
    font-size: 12px
    color: #999
.btn-mail
  display: inline-block
  padding: 10px 35px
  background: #438aca
  border-radius: 5px
  font-size: 18px
  color: #fff

// 04 Campus Recruitment
.campus-plan
  $line: #d9d9d9
  table-layout: fixed
  margin-bottom: 30px
  width: 570px
  border: 1px solid $line
  font-size: 16px
  .university
    width: 150px
  .time
    width: 170px
  .city
    padding: 11px 0
    background: #e8e8e8
    border: 1px solid $line
    border-bottom: none
    font-size: 18px

/*
 * 06 FAQ
 */
.faq
  +box-sizing
  height: 800px
  padding-top: 75px
  background: #16ab70
.faq-wrapper
  +group
  margin-top: 80px
.faq-article
  float: left
  width: 520px
  &.social
    margin-left: 100px
.faq-section
  margin-bottom: 60px
  .list
    list-style: inside decimal none
  p, li
    line-height: 24px
    margin-bottom: 10px
    color: #adffdf

.faq-detail
  margin: 0 0 40px
  > h3
    margin: 0 0 20px
    font-size: 24px
.faq-detail-section
  margin: 0 0 25px
  line-height: 28px
  > h4
    margin: 0 0 5px
    font-size: 14px
  > ol
    list-style: decimal inside none


.faq-more
  position: relative
  top: -20px
  padding-bottom: 2px
  font-size: 16px
  color: #057348
  &:hover
    border-bottom: 1px solid #057348



/*
 * 07 Welfare
 */
.welfare
  height: 800px
  background: #fac202
  > .container
    background: $rocket 400px 200px
.welfare-introduction
  padding-top: 145px
.welfare-list
  margin: 45px 0 0
  > li
    font: 26px/42px $sans-serif


/*
 * 08 Phtowall
 */
.photo-wall
  height: 855px
  background: $photo-wall 0 0 #3face1

