.opening
  position: relative
  width: 100%
  height: 600px
  background: #1889c5
.opening-logo
  $w: 300px
  $h: 102px
  position: absolute
  top: 50%
  left: 50%
  margin: (-$h / 2 - 40px) 0 0 ((-$w / 2) + 30px)
  width: $w
  height: $h
  background: $main-sprites 0px -300px
  text-indent: -9999em
.opening-arrow
  $w: 33px
  $h: 19px
  position: absolute
  bottom: 25px
  left: 50%
  margin-left: -$w / 2
  width: $w
  height: $h
  background: $main-sprites -300px -300px
