.opening
  position: relative
  width: 100%
  height: 800px
  background: #1889c5
.opening-logo
  position: absolute
  top: (800px - 166px) / 2 - 20px
  left: 50%
  margin-left: (-300px / 2)
  width: 300px
  height: 120px
  background: $main-sprites -338px 0px
  text-indent: -9999em
.opening-arrow
  position: absolute
  bottom: 25px
  left: 50%
  margin-left: -21.5px
  width: 43px
  height: 24px
  background: $main-sprites -440px -300px
