$sans-serif: "Helvetica Neue", Arial, "Microsoft Yahei", sans-serif
$page-width: 1140px
$blue: #08c

$body-bg: #129de7
$main-bg-blue: #168ac7
$main-bg-red: #ed4440

$main-sprites: url("../img/main/sprites.png?v=5") no-repeat
$chart-bg: url("../img/main/chart-bg.png")
$photo-wall: url("../img/main/photo-wall.jpg")
$rocket: url("../img/main/rocket.png") no-repeat
$rocket-l: url("../img/main/rocket-l.png") no-repeat
$rocket-m: url("../img/main/rocket-m.png") no-repeat
$rocket-s: url("../img/main/rocket-s.png") no-repeat
$rocket-xs: url("../img/main/rocket-xs.png") no-repeat

@import '_bootstrap.scss'
@import '_bootstrap.customize.scss'
@import '_mixins.sass'

@import '_normalize.scss'
@import '_eleme_normalize.sass'
@import '_common.sass'

@import '_opening.sass'
@import '_content.sass'
@import '_ending.sass'

.lt-ie9 .browsehappy
  background: #f60
  text-align: center
  font-size: 14px
  padding: 20px 0
  > a
    border-bottom: 1px dotted #ff9
    color: #ff9
