@font-face {
  font-family: 'eleme';
  src:url('/fonts/eleme.eot');
  src:url('/fonts/eleme.eot?#iefix') format('embedded-opentype'),
    url('/fonts/eleme.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'eleme';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="glyph-"] {
*/
.glyph-logo-e, .glyph-logo-l, .glyph-logo-dot, .glyph-logo-m, .glyph-logo-e-sup, .glyph-eleme {
  font-family: 'eleme';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.glyph-logo-e:before {
  content: "\65";
}
.glyph-logo-l:before {
  content: "\6c";
}
.glyph-logo-dot:before {
  content: "\2e";
}
.glyph-logo-m:before {
  content: "\6d";
}
.glyph-logo-e-sup:before {
  content: "\45";
}
.glyph-eleme:before {
  content: "\78";
}
